<!-- Шаблон вывода главной страницы -->
{% extends 'base.html' %}

{% block title %}
  {{'Социальная сеть Yatube'}}
{% endblock %}

{% block content %}
  <h1>Подписки</h1>
  {% include 'posts/includes/switcher.html' with follow=True %}
    {% for post in page_obj %}
      {% include 'posts/includes/post.html' %}
      <p>
        {% if post.group %}  
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы 
        {% endif %}
      </p>
      <p><a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a></p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}